*{
    margin:0;
    padding:0;
    color:white;
    text-decoration: none;
    font-family: 'Gentium Book Basic', serif;
}
html{
    width: 100vw;
    height: 100vh;
}
body{
    background-color: #717171;
}
main{
    max-height: fit-content;
}

.wrapper {
    max-width:980px;
    margin:5px auto; /*This ensures the max-width takes effect*/
}


.main-header{
    width:100%;
    background-color:rgb(11, 11, 80);
    padding:2px 0px;
    font-weight: bold;
    font-size: 20px;
    position:fixed;
    top:0;
    left:0; 
    z-index:1;
}

.main-header__logobrand{
    display:inline-block;
    height:66px;
    width:170px;
}
 .main-nav_logo{
    height:100%;
    width:100%;
    vertical-align: middle;
}

.main-nav{
    display:inline-block;
    text-align:right;
    width:calc(100% - 180px);
    
}

.main-nav_items{
    display:inline-block;
    list-style:none;
}

.main-nav_item, .mobile-nav__item a{
    display:inline-block;
    padding:20px;
    
}

.main-nav_item:hover{
    background-color:rgb(6, 6, 31);
    border-bottom:3px solid #717171;
    
}

.cta, .mobile-nav__item--cta a{
    border-radius: 20px;
    border:5px solid #b62c02;
    background-color: #b62c02;
    padding:4px;
    margin:4px;
}

.wrapper__section2{
    background-image: url(../images/pageImages/contactMe3.jpg);
    background-origin: padding-box;
    background-size: 100%;
    border-bottom: 5px solid #717171;
    padding:10px 15px;
    /* padding-bottom: 10px; */
    /* background-position: fixed; */
    background-repeat:no-repeat;
    border-top:2px solid #3d0404;
    border-bottom:2px solid #3d0404;
    margin-top: 75px;
    box-shadow: 5px 5px 5px #3e4047;
}

.background_img__section{
    display:flex;
    grid-template-rows: 1fr 1fr;
    /* padding: 10px; */
    
    text-align: center;
    /* padding-top: 10px; */
}

.profileImage{
    width:40%;
    height:55%;
    border: 1px solid #717171;
    border-radius: 10px;
}
.profileImage:hover{
    box-shadow: 5px 5px 5px #3e4047;
}

.slideshow-container{
    padding-left: 10px;
    max-width: 980px;
    position: relative;
    margin: auto;
    width:100%;
    height:100%;
}


.mySlides {
    display: none;
  }
  

  .prev,
   .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
 
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  

  .wrapper__section3{
    width:100%;
    background-color: #000d30;
    margin-top:5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top:2px solid #3d0404;
    border-bottom:2px solid #3d0404;
    text-align: center;
    padding:10px 0px;
    box-shadow: 5px 5px 5px #3e4047;
  }

footer{
    border-bottom: 3px solid#3d0404;
    text-align:center;
    background-color: #000d30;
    color:white;
    font-family: 'Gentium Book Basic', serif;
    font-size: 15px;
    margin-top:5px;
    box-shadow: 5px 5px 5px #3e4047;
}

.fa-skype, .fa-linkedin, .fa-instagram, .fa-facebook {
    color: white;
    font-size:40px;
    padding:10px 100px;
  }

.social_links{
      border-top:2px solid #3d0404;
      border-bottom: 3px solid#717171;
}


  .copyright{
      padding:10px 10px;
  }

 .fa-laptop{
      font-size: 200px;
      color:white;
      font-weight: lighter;
  }

  .wrapper__section3__intro{
      padding:10px;
  }

.wrapper__section3__intro_text{
    padding:5px;
    line-height:1.5;
    text-align: left;
}

.wrapper__section3__intro_text_bigger{
    font-size:20px;
}

.toggle-button{
    position:absolute;
    top:.55rem;
    right:1rem;
    display:none;
    flex-direction:column;
    justify-content:space-between;
    width:50px;
    height:41px;
    padding-top:7px;
}

 .bar{
    height:9px;
    width:105%;
    background-color:white;
    border-radius:10px;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  background: #000d30;
  width: 80vw;
  height: 100vh;
}

.mobile-nav__items {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
  font-family: 'Gentium Book Basic', serif;
  font-size:30px;
  align-content:center;
}

.mobile-nav__item a:hover{
    background-color:#717171;
    box-shadow: 0px 15px 20px #717171;
    color: #fff;
    transform: translateY(-2px);
    
}

.mobile-nav__item {
  margin: 3rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
  width:100%;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5); 
}



.banner_contactMe{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 50px 0px 2px 0px; */
    border-bottom: 2px solid#3d0404;
    border-top: 2px solid#3d0404;
    padding: 20px 0px;
    background-color: #000d30;
    margin-top:5px;
    box-shadow: 5px 5px 5px #3e4047;
}

.banner_contactMe__ctME{
    font-size:25px;
    text-align:center;
    margin-top:10px;
}

 .banner_contactMe__icon{
    text-align:center;
}

.fa-envelope-open{
    font-size:40px;
    border:3px solid black;
    padding:10px;
    border-radius:50%;
    background-color:#3d0404;;
    box-shadow: 3px 0px #000d30;  
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

.fa-envelope-open:hover{
    background-color: red;
    box-shadow: 0px 15px 20px red;
    color: #fff;
    transform: translateY(-7px);
}

