@media (max-width: 48rem){

    .wrapper__section3{
        display:grid;
    }

    .wrapper__section3__intro { 
        grid-area: 1 / 1 / 2 / 2;
        width:100vw;
     }

    .wrapper_laptop  { 
        grid-area: 3 / 1 / 4 / 2;
        display:none;
     }

     .banner_contactMe__icon{
        grid-area: 3 / 1 / 4 / 2;
     }

     .banner_contactMe__ctME, .banner_contactMe__icon{
        width:100vw;
        text-align:center;
    }

     .main-header .toggle-button{
        display:flex;
    }

     .main-nav .main-nav_items {
        display:none;
    }

    .wrapper__section2{
        margin-top:70px;
    }
  


}